<div class="account__actions" data-right-drawer-type="account-actions">

  <div class="right__drawer__content" data-right-drawer-content="login">
    <div class="right__drawer__head">
      <div class="right__drawer__head__title">
        ACCOUNT
      </div>
      <div class="right__drawer--close">
        <img src="{{ 'icon-close.svg' | asset_url }}" />
      </div>
    </div>

    <div class="right__drawer__form__wrapper">
      {% render 'customer-drawer-login-form' %}
    </div>

    <div class="right__drawer__actions__wrapper">
      <h3 class="right__drawer__content__subtitle">
        DON'T HAVE AN ACCOUNT?
      </h3>
      <button
        type="button"
        class="right__drawer__button"
        data-right-drawer-toggle="register"
      >
        CREATE ACCOUNT
      </button>
    </div>

  </div>

  <div class="right__drawer__content" data-right-drawer-content="register">
    <div class="right__drawer__head-create">
      <img class="right__drawer--back" 
        data-right-drawer-toggle="login"
        src="{{ 'icon-chevron.svg' | asset_url }}" 
      />
      <div class="right__drawer__head__title">
        CREATE ACCOUNT
      </div>
      <div class="right__drawer--close">
        <img src="{{ 'icon-close.svg' | asset_url }}" />
      </div>
    </div>

    <div class="right__drawer__form__wrapper">
      {% render 'customer-drawer-register-form' %}
    </div>

  </div>

  <div class="right__drawer__content" data-right-drawer-content="recover">
    <div class="right__drawer__head-create">
      <img class="right__drawer--back" 
        data-right-drawer-toggle="login"
        src="{{ 'icon-chevron.svg' | asset_url }}" 
        />
      <div class="right__drawer__head__title">
        RECOVER PASSWORD
      </div>
      <div class="right__drawer--close">
        <img src="{{ 'icon-close.svg' | asset_url }}" />
      </div>
    </div>
    <div class="right__drawer__form__wrapper">
      {% render 'customer-drawer-recover-form' %}
    </div>
  </div>

</div>