<div class="right__drawer__form__wrapper">
  <div class="drawer__form__input__wrapper">
    <label for="birthday" class="drawer__preferences__form__label">BIRTHDAY</label>
    <div class="drawer__form__double__select">
      <div class="right__drawer__form__input right__drawer__form__input-select">
        <div class="drawer__form__input__select-wrapper drawer__form__input__select-large">
          <select id="birthday" name="" class="drawer__form__input__select">
            <option disabled selected>Month</option>
            <option value="us">Alabama</option>
            <option value="ca">Texas</option>
          </select>
          <img class="chevron__icon--down" 
            src="{{ 'icon-chevron.svg' | asset_url }}" 
          />
        </div>
      </div>
      <div class="right__drawer__form__input right__drawer__form__input-select">
        <div class="drawer__form__input__select-wrapper drawer__form__input__select-large">
          <select name="" class="drawer__form__input__select">
            <option disabled selected>Day</option>
            <option value="us">Alabama</option>
            <option value="ca">Texas</option>
          </select>
          <img class="chevron__icon--down" 
            src="{{ 'icon-chevron.svg' | asset_url }}" 
          />
        </div>
      </div>
    </div>
  </div>

  <div class="drawer__form__input__wrapper">
    <label for="email__frequency" class="drawer__preferences__form__label">EMAIL FREQUENCY</label>
    <div class="right__drawer__form__input right__drawer__form__input-select">
      <div class="drawer__form__input__select-wrapper drawer__form__input__select-large">
        <select id="email__frequency" name="" class="drawer__form__input__select">
          <option selected>Medium: 4-6 times per month</option>
          <option value="us">Alabama</option>
          <option value="ca">Texas</option>
        </select>
        <img class="chevron__icon--down" 
          src="{{ 'icon-chevron.svg' | asset_url }}" 
        />
      </div>
    </div>
  </div>

  <div class="drawer__form__input__wrapper">
    <label for="sms__frequency" class="drawer__preferences__form__label">SMS FREQUENCY</label>
    <div class="right__drawer__form__input right__drawer__form__input-select">
      <div class="drawer__form__input__select-wrapper drawer__form__input__select-large">
        <select id="sms__frequency" name="" class="drawer__form__input__select">
          <option disabled selected>Select an option...</option>
          <option value="us">Alabama</option>
          <option value="ca">Texas</option>
        </select>
        <img class="chevron__icon--down" 
          src="{{ 'icon-chevron.svg' | asset_url }}" 
        />
      </div>
    </div>
  </div>

  <div class="drawer__form__input__wrapper">
    <label for="shopping__preferences" class="drawer__preferences__form__label">SHOPPING PREFERENCES</label>
    <div class="right__drawer__form__input right__drawer__form__input-select">
      <div class="drawer__form__input__select-wrapper drawer__form__input__select-large">
        <select id="shopping__preferences" name="" class="drawer__form__input__select">
          <option disabled selected>Prefer not to say</option>
          <option value="us">Alabama</option>
          <option value="ca">Texas</option>
        </select>
        <img class="chevron__icon--down" 
          src="{{ 'icon-chevron.svg' | asset_url }}" 
        />
      </div>
    </div>
  </div>

  <div class="drawer__form__checkbox__group">
    <label for="favorite__leagues" class="drawer__preferences__form__label">
      FAVORITE LEAGUES
    </label>
    <div class="drawer__form__checkbox__wrapper">
      <input id="favorite__leagues" type="checkbox"value="" required/>
      <input type="checkbox" value="" required/>
    </div>
  </div>

  <div class="drawer__form__input__wrapper">
    <label for="mlb" class="drawer__preferences__form__label">MLB</label>
    <div class="right__drawer__form__input right__drawer__form__input-select">
      <div class="drawer__form__input__select-wrapper drawer__form__input__select-large">
        <select id="mlb" name="" class="drawer__form__input__select">
          <option disabled selected>Select an option...</option>
          <option value="us">Alabama</option>
          <option value="ca">Texas</option>
        </select>
        <img class="chevron__icon--down" 
          src="{{ 'icon-chevron.svg' | asset_url }}" 
        />
      </div>
    </div>
  </div>

  <div class="drawer__form__input__wrapper">
    <label for="nfl" class="drawer__preferences__form__label">NFL</label>
    <div class="right__drawer__form__input right__drawer__form__input-select">
      <div class="drawer__form__input__select-wrapper drawer__form__input__select-large">
        <select id="nfl" name="" class="drawer__form__input__select">
          <option disabled selected>Select an option...</option>
          <option value="us">Alabama</option>
          <option value="ca">Texas</option>
        </select>
        <img class="chevron__icon--down" 
          src="{{ 'icon-chevron.svg' | asset_url }}" 
        />
      </div>
    </div>
  </div>

  <div class="drawer__form__input__wrapper">
    <label for="nba" class="drawer__preferences__form__label">NBA</label>
    <div class="right__drawer__form__input right__drawer__form__input-select">
      <div class="drawer__form__input__select-wrapper drawer__form__input__select-large">
        <select id="nba" name="" class="drawer__form__input__select">
          <option disabled selected>Select an option...</option>
          <option value="us">Alabama</option>
          <option value="ca">Texas</option>
        </select>
        <img class="chevron__icon--down" 
          src="{{ 'icon-chevron.svg' | asset_url }}" 
        />
      </div>
    </div>
  </div>

  <div class="drawer__form__input__wrapper">
    <label for="nhl" class="drawer__preferences__form__label">NHL</label>
    <div class="right__drawer__form__input right__drawer__form__input-select">
      <div class="drawer__form__input__select-wrapper drawer__form__input__select-large">
        <select id="nhl" name="" class="drawer__form__input__select">
          <option disabled selected>Select an option...</option>
          <option value="us">Alabama</option>
          <option value="ca">Texas</option>
        </select>
        <img class="chevron__icon--down" 
          src="{{ 'icon-chevron.svg' | asset_url }}" 
        />
      </div>
    </div>
  </div>

  <div class="drawer__form__input__wrapper">
    <label for="ncaa" class="drawer__preferences__form__label">NCAA</label>
    <div class="right__drawer__form__input right__drawer__form__input-select">
      <div class="drawer__form__input__select-wrapper drawer__form__input__select-large">
        <select id="ncaa" name="" class="drawer__form__input__select">
          <option disabled selected>Select an option...</option>
          <option value="us">Alabama</option>
          <option value="ca">Texas</option>
        </select>
        <img class="chevron__icon--down" 
          src="{{ 'icon-chevron.svg' | asset_url }}" 
        />
      </div>
    </div>
  </div>
</div>

<button
  type="submit"
  class="right__drawer__form__button"
>
  UPDATE ACCOUNT
</button>