{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_0c60a030-7713-40ba-8d6a-04a0e4a64d02 = section.settings['replo_text_0c60a030-7713-40ba-8d6a-04a0e4a64d02'] -%}
    {%- capture default_replo_text_0c60a030-7713-40ba-8d6a-04a0e4a64d02 -%}<p>4.8/5 rating - 95,000+ customers</p>{%- endcapture -%}
    {%- assign replo_text_0c60a030-7713-40ba-8d6a-04a0e4a64d02 = replo_text_0c60a030-7713-40ba-8d6a-04a0e4a64d02 | default: default_replo_text_0c60a030-7713-40ba-8d6a-04a0e4a64d02 -%}
    "replo_text_0c60a030-7713-40ba-8d6a-04a0e4a64d02": {{ replo_text_0c60a030-7713-40ba-8d6a-04a0e4a64d02 | json }}, {%- assign replo_text_f65708c6-d5fc-4645-bca2-abb5790d5fb5 = section.settings['replo_text_f65708c6-d5fc-4645-bca2-abb5790d5fb5'] -%}
    {%- capture default_replo_text_f65708c6-d5fc-4645-bca2-abb5790d5fb5 -%}<p>4.8/5 rating - 95,000+ customers</p>{%- endcapture -%}
    {%- assign replo_text_f65708c6-d5fc-4645-bca2-abb5790d5fb5 = replo_text_f65708c6-d5fc-4645-bca2-abb5790d5fb5 | default: default_replo_text_f65708c6-d5fc-4645-bca2-abb5790d5fb5 -%}
    "replo_text_f65708c6-d5fc-4645-bca2-abb5790d5fb5": {{ replo_text_f65708c6-d5fc-4645-bca2-abb5790d5fb5 | json }}, {%- assign replo_text_8e5017dc-8131-47f5-bdb3-06581cb55cfd = section.settings['replo_text_8e5017dc-8131-47f5-bdb3-06581cb55cfd'] -%}
    {%- capture default_replo_text_8e5017dc-8131-47f5-bdb3-06581cb55cfd -%}<p>Real reviews from comfy humans just like you.</p>{%- endcapture -%}
    {%- assign replo_text_8e5017dc-8131-47f5-bdb3-06581cb55cfd = replo_text_8e5017dc-8131-47f5-bdb3-06581cb55cfd | default: default_replo_text_8e5017dc-8131-47f5-bdb3-06581cb55cfd -%}
    "replo_text_8e5017dc-8131-47f5-bdb3-06581cb55cfd": {{ replo_text_8e5017dc-8131-47f5-bdb3-06581cb55cfd | json }}, {%- assign replo_text_a4c77e93-ad07-465b-a8e6-bed1157b68aa = section.settings['replo_text_a4c77e93-ad07-465b-a8e6-bed1157b68aa'] -%}
    {%- capture default_replo_text_a4c77e93-ad07-465b-a8e6-bed1157b68aa -%}<p><em>"I thought I knew comfort and then Swoveralls wooed me."</em> - Jess</p>{%- endcapture -%}
    {%- assign replo_text_a4c77e93-ad07-465b-a8e6-bed1157b68aa = replo_text_a4c77e93-ad07-465b-a8e6-bed1157b68aa | default: default_replo_text_a4c77e93-ad07-465b-a8e6-bed1157b68aa -%}
    "replo_text_a4c77e93-ad07-465b-a8e6-bed1157b68aa": {{ replo_text_a4c77e93-ad07-465b-a8e6-bed1157b68aa | json }}, {%- assign replo_url_be05d9eb-7b64-4585-acfd-f917838f99fe = section.settings['replo_url_be05d9eb-7b64-4585-acfd-f917838f99fe'] -%}
    {%- capture default_replo_url_be05d9eb-7b64-4585-acfd-f917838f99fe -%}https://swoveralls.com/pages/reviews{%- endcapture -%}
    {%- assign replo_url_be05d9eb-7b64-4585-acfd-f917838f99fe = replo_url_be05d9eb-7b64-4585-acfd-f917838f99fe | default: default_replo_url_be05d9eb-7b64-4585-acfd-f917838f99fe -%}
    "replo_url_be05d9eb-7b64-4585-acfd-f917838f99fe": {{ replo_url_be05d9eb-7b64-4585-acfd-f917838f99fe | json }}, {%- assign replo_text_cf67aeac-ca46-4f0c-960c-da0e626dd4b2 = section.settings['replo_text_cf67aeac-ca46-4f0c-960c-da0e626dd4b2'] -%}
    {%- capture default_replo_text_cf67aeac-ca46-4f0c-960c-da0e626dd4b2 -%}<p>read the reviews</p>{%- endcapture -%}
    {%- assign replo_text_cf67aeac-ca46-4f0c-960c-da0e626dd4b2 = replo_text_cf67aeac-ca46-4f0c-960c-da0e626dd4b2 | default: default_replo_text_cf67aeac-ca46-4f0c-960c-da0e626dd4b2 -%}
    "replo_text_cf67aeac-ca46-4f0c-960c-da0e626dd4b2": {{ replo_text_cf67aeac-ca46-4f0c-960c-da0e626dd4b2 | json }}, {%- assign replo_url_6a693c23-63aa-4baa-b57c-bf76f2167b4a = section.settings['replo_url_6a693c23-63aa-4baa-b57c-bf76f2167b4a'] -%}
    {%- capture default_replo_url_6a693c23-63aa-4baa-b57c-bf76f2167b4a -%}https://andytown-public.s3.us-west-1.amazonaws.com/templates/component-templates/Hydrant/rapid-hydration-mix-caffeine%3Fvariant%3D31392916963417{%- endcapture -%}
    {%- assign replo_url_6a693c23-63aa-4baa-b57c-bf76f2167b4a = replo_url_6a693c23-63aa-4baa-b57c-bf76f2167b4a | default: default_replo_url_6a693c23-63aa-4baa-b57c-bf76f2167b4a -%}
    "replo_url_6a693c23-63aa-4baa-b57c-bf76f2167b4a": {{ replo_url_6a693c23-63aa-4baa-b57c-bf76f2167b4a | json }}, {%- assign replo_style_image_0aa2765c-7649-46a9-bb73-e18228def14d = section.settings['replo_style_image_0aa2765c-7649-46a9-bb73-e18228def14d'] | image_url -%}
    {%- capture default_replo_style_image_0aa2765c-7649-46a9-bb73-e18228def14d -%}https://cdn.shopify.com/s/files/1/0047/6862/8836/files/Screen_Shot_2024-07-31_at_1.20.43_PM.png?v=1722469540{%- endcapture -%}
    {%- assign replo_style_image_0aa2765c-7649-46a9-bb73-e18228def14d = replo_style_image_0aa2765c-7649-46a9-bb73-e18228def14d | default: default_replo_style_image_0aa2765c-7649-46a9-bb73-e18228def14d -%}
    "replo_style_image_0aa2765c-7649-46a9-bb73-e18228def14d": {{ replo_style_image_0aa2765c-7649-46a9-bb73-e18228def14d | json }}, {%- assign replo_text_3535f937-18a0-4661-ad6e-03690999ae30 = section.settings['replo_text_3535f937-18a0-4661-ad6e-03690999ae30'] -%}
    {%- capture default_replo_text_3535f937-18a0-4661-ad6e-03690999ae30 -%}<p>5/5 rating</p>{%- endcapture -%}
    {%- assign replo_text_3535f937-18a0-4661-ad6e-03690999ae30 = replo_text_3535f937-18a0-4661-ad6e-03690999ae30 | default: default_replo_text_3535f937-18a0-4661-ad6e-03690999ae30 -%}
    "replo_text_3535f937-18a0-4661-ad6e-03690999ae30": {{ replo_text_3535f937-18a0-4661-ad6e-03690999ae30 | json }}, {%- assign replo_text_913c095e-b8aa-4d79-b0be-673a12a8a97d = section.settings['replo_text_913c095e-b8aa-4d79-b0be-673a12a8a97d'] -%}
    {%- capture default_replo_text_913c095e-b8aa-4d79-b0be-673a12a8a97d -%}<p>"Love these, they're very comfy and stylish! I love wearing these as part of a relaxed hanging with friends outfit or for lounging at home.”</p>{%- endcapture -%}
    {%- assign replo_text_913c095e-b8aa-4d79-b0be-673a12a8a97d = replo_text_913c095e-b8aa-4d79-b0be-673a12a8a97d | default: default_replo_text_913c095e-b8aa-4d79-b0be-673a12a8a97d -%}
    "replo_text_913c095e-b8aa-4d79-b0be-673a12a8a97d": {{ replo_text_913c095e-b8aa-4d79-b0be-673a12a8a97d | json }}, {%- assign replo_text_85ea5c09-4246-4057-a3a0-db63fca1f992 = section.settings['replo_text_85ea5c09-4246-4057-a3a0-db63fca1f992'] -%}
    {%- capture default_replo_text_85ea5c09-4246-4057-a3a0-db63fca1f992 -%}<p>ALEK</p>{%- endcapture -%}
    {%- assign replo_text_85ea5c09-4246-4057-a3a0-db63fca1f992 = replo_text_85ea5c09-4246-4057-a3a0-db63fca1f992 | default: default_replo_text_85ea5c09-4246-4057-a3a0-db63fca1f992 -%}
    "replo_text_85ea5c09-4246-4057-a3a0-db63fca1f992": {{ replo_text_85ea5c09-4246-4057-a3a0-db63fca1f992 | json }}, {%- assign replo_style_image_ded2cb11-8fc2-4a7c-b837-d5e8da424893 = section.settings['replo_style_image_ded2cb11-8fc2-4a7c-b837-d5e8da424893'] | image_url -%}
    {%- capture default_replo_style_image_ded2cb11-8fc2-4a7c-b837-d5e8da424893 -%}https://cdn.shopify.com/s/files/1/0047/6862/8836/files/12_992f1dcd-42b4-4278-9628-3d8cfa78e255.png?v=1722445173{%- endcapture -%}
    {%- assign replo_style_image_ded2cb11-8fc2-4a7c-b837-d5e8da424893 = replo_style_image_ded2cb11-8fc2-4a7c-b837-d5e8da424893 | default: default_replo_style_image_ded2cb11-8fc2-4a7c-b837-d5e8da424893 -%}
    "replo_style_image_ded2cb11-8fc2-4a7c-b837-d5e8da424893": {{ replo_style_image_ded2cb11-8fc2-4a7c-b837-d5e8da424893 | json }}, {%- assign replo_text_7b1e2cc2-a7ef-4f5c-90f8-796c92b816c1 = section.settings['replo_text_7b1e2cc2-a7ef-4f5c-90f8-796c92b816c1'] -%}
    {%- capture default_replo_text_7b1e2cc2-a7ef-4f5c-90f8-796c92b816c1 -%}<p>Midnight Black</p>{%- endcapture -%}
    {%- assign replo_text_7b1e2cc2-a7ef-4f5c-90f8-796c92b816c1 = replo_text_7b1e2cc2-a7ef-4f5c-90f8-796c92b816c1 | default: default_replo_text_7b1e2cc2-a7ef-4f5c-90f8-796c92b816c1 -%}
    "replo_text_7b1e2cc2-a7ef-4f5c-90f8-796c92b816c1": {{ replo_text_7b1e2cc2-a7ef-4f5c-90f8-796c92b816c1 | json }}, {%- assign replo_url_c3c1840e-bacb-4e06-af13-055bbf223549 = section.settings['replo_url_c3c1840e-bacb-4e06-af13-055bbf223549'] -%}
    {%- capture default_replo_url_c3c1840e-bacb-4e06-af13-055bbf223549 -%}https://andytown-public.s3.us-west-1.amazonaws.com/templates/component-templates/Hydrant/rapid-hydration-mix-caffeine%3Fvariant%3D31392916963417{%- endcapture -%}
    {%- assign replo_url_c3c1840e-bacb-4e06-af13-055bbf223549 = replo_url_c3c1840e-bacb-4e06-af13-055bbf223549 | default: default_replo_url_c3c1840e-bacb-4e06-af13-055bbf223549 -%}
    "replo_url_c3c1840e-bacb-4e06-af13-055bbf223549": {{ replo_url_c3c1840e-bacb-4e06-af13-055bbf223549 | json }}, {%- assign replo_style_image_48d11175-6213-4830-9936-5f7d9104839a = section.settings['replo_style_image_48d11175-6213-4830-9936-5f7d9104839a'] | image_url -%}
    {%- capture default_replo_style_image_48d11175-6213-4830-9936-5f7d9104839a -%}https://cdn.shopify.com/s/files/1/0047/6862/8836/files/IMG_5943.jpg?v=1722445148{%- endcapture -%}
    {%- assign replo_style_image_48d11175-6213-4830-9936-5f7d9104839a = replo_style_image_48d11175-6213-4830-9936-5f7d9104839a | default: default_replo_style_image_48d11175-6213-4830-9936-5f7d9104839a -%}
    "replo_style_image_48d11175-6213-4830-9936-5f7d9104839a": {{ replo_style_image_48d11175-6213-4830-9936-5f7d9104839a | json }}, {%- assign replo_text_540f8383-82b9-466d-a6a3-ae91c6e21140 = section.settings['replo_text_540f8383-82b9-466d-a6a3-ae91c6e21140'] -%}
    {%- capture default_replo_text_540f8383-82b9-466d-a6a3-ae91c6e21140 -%}<p>5/5 rating</p>{%- endcapture -%}
    {%- assign replo_text_540f8383-82b9-466d-a6a3-ae91c6e21140 = replo_text_540f8383-82b9-466d-a6a3-ae91c6e21140 | default: default_replo_text_540f8383-82b9-466d-a6a3-ae91c6e21140 -%}
    "replo_text_540f8383-82b9-466d-a6a3-ae91c6e21140": {{ replo_text_540f8383-82b9-466d-a6a3-ae91c6e21140 | json }}, {%- assign replo_text_44e414c0-e7b6-4902-9bc5-d4fe1dc230ea = section.settings['replo_text_44e414c0-e7b6-4902-9bc5-d4fe1dc230ea'] -%}
    {%- capture default_replo_text_44e414c0-e7b6-4902-9bc5-d4fe1dc230ea -%}<p>Nicole</p>{%- endcapture -%}
    {%- assign replo_text_44e414c0-e7b6-4902-9bc5-d4fe1dc230ea = replo_text_44e414c0-e7b6-4902-9bc5-d4fe1dc230ea | default: default_replo_text_44e414c0-e7b6-4902-9bc5-d4fe1dc230ea -%}
    "replo_text_44e414c0-e7b6-4902-9bc5-d4fe1dc230ea": {{ replo_text_44e414c0-e7b6-4902-9bc5-d4fe1dc230ea | json }}, {%- assign replo_style_image_d05bbc13-ff5d-4178-9642-5a29c9ac4ac4 = section.settings['replo_style_image_d05bbc13-ff5d-4178-9642-5a29c9ac4ac4'] | image_url -%}
    {%- capture default_replo_style_image_d05bbc13-ff5d-4178-9642-5a29c9ac4ac4 -%}https://cdn.shopify.com/s/files/1/0047/6862/8836/files/12.png?v=1722445160{%- endcapture -%}
    {%- assign replo_style_image_d05bbc13-ff5d-4178-9642-5a29c9ac4ac4 = replo_style_image_d05bbc13-ff5d-4178-9642-5a29c9ac4ac4 | default: default_replo_style_image_d05bbc13-ff5d-4178-9642-5a29c9ac4ac4 -%}
    "replo_style_image_d05bbc13-ff5d-4178-9642-5a29c9ac4ac4": {{ replo_style_image_d05bbc13-ff5d-4178-9642-5a29c9ac4ac4 | json }}, {%- assign replo_text_f394bf5f-1ce4-4a14-88de-f19608384dee = section.settings['replo_text_f394bf5f-1ce4-4a14-88de-f19608384dee'] -%}
    {%- capture default_replo_text_f394bf5f-1ce4-4a14-88de-f19608384dee -%}<p>DIjon (New!)</p>{%- endcapture -%}
    {%- assign replo_text_f394bf5f-1ce4-4a14-88de-f19608384dee = replo_text_f394bf5f-1ce4-4a14-88de-f19608384dee | default: default_replo_text_f394bf5f-1ce4-4a14-88de-f19608384dee -%}
    "replo_text_f394bf5f-1ce4-4a14-88de-f19608384dee": {{ replo_text_f394bf5f-1ce4-4a14-88de-f19608384dee | json }}, {%- assign replo_url_6bc03fd5-dc24-4a2c-a4b2-0e4c0a0dd72f = section.settings['replo_url_6bc03fd5-dc24-4a2c-a4b2-0e4c0a0dd72f'] -%}
    {%- capture default_replo_url_6bc03fd5-dc24-4a2c-a4b2-0e4c0a0dd72f -%}https://andytown-public.s3.us-west-1.amazonaws.com/templates/component-templates/Hydrant/rapid-hydration-mix-caffeine%3Fvariant%3D31392916963417{%- endcapture -%}
    {%- assign replo_url_6bc03fd5-dc24-4a2c-a4b2-0e4c0a0dd72f = replo_url_6bc03fd5-dc24-4a2c-a4b2-0e4c0a0dd72f | default: default_replo_url_6bc03fd5-dc24-4a2c-a4b2-0e4c0a0dd72f -%}
    "replo_url_6bc03fd5-dc24-4a2c-a4b2-0e4c0a0dd72f": {{ replo_url_6bc03fd5-dc24-4a2c-a4b2-0e4c0a0dd72f | json }}, {%- assign replo_style_image_7b76118e-81f0-468f-b47a-011bf534294b = section.settings['replo_style_image_7b76118e-81f0-468f-b47a-011bf534294b'] | image_url -%}
    {%- capture default_replo_style_image_7b76118e-81f0-468f-b47a-011bf534294b -%}https://cdn.shopify.com/s/files/1/0047/6862/8836/files/IMG_6330.jpg?v=1722469512{%- endcapture -%}
    {%- assign replo_style_image_7b76118e-81f0-468f-b47a-011bf534294b = replo_style_image_7b76118e-81f0-468f-b47a-011bf534294b | default: default_replo_style_image_7b76118e-81f0-468f-b47a-011bf534294b -%}
    "replo_style_image_7b76118e-81f0-468f-b47a-011bf534294b": {{ replo_style_image_7b76118e-81f0-468f-b47a-011bf534294b | json }}, {%- assign replo_text_58de069f-7858-44a7-a31f-afcc0d582b46 = section.settings['replo_text_58de069f-7858-44a7-a31f-afcc0d582b46'] -%}
    {%- capture default_replo_text_58de069f-7858-44a7-a31f-afcc0d582b46 -%}<p>5/5 rating</p>{%- endcapture -%}
    {%- assign replo_text_58de069f-7858-44a7-a31f-afcc0d582b46 = replo_text_58de069f-7858-44a7-a31f-afcc0d582b46 | default: default_replo_text_58de069f-7858-44a7-a31f-afcc0d582b46 -%}
    "replo_text_58de069f-7858-44a7-a31f-afcc0d582b46": {{ replo_text_58de069f-7858-44a7-a31f-afcc0d582b46 | json }}, {%- assign replo_text_0adb0db5-b1db-4ea1-bda7-ff31cced874a = section.settings['replo_text_0adb0db5-b1db-4ea1-bda7-ff31cced874a'] -%}
    {%- capture default_replo_text_0adb0db5-b1db-4ea1-bda7-ff31cced874a -%}<p>KYLE</p>{%- endcapture -%}
    {%- assign replo_text_0adb0db5-b1db-4ea1-bda7-ff31cced874a = replo_text_0adb0db5-b1db-4ea1-bda7-ff31cced874a | default: default_replo_text_0adb0db5-b1db-4ea1-bda7-ff31cced874a -%}
    "replo_text_0adb0db5-b1db-4ea1-bda7-ff31cced874a": {{ replo_text_0adb0db5-b1db-4ea1-bda7-ff31cced874a | json }}, {%- assign replo_style_image_a24a9123-bbd4-41a6-b4ba-8b7d4499ab9a = section.settings['replo_style_image_a24a9123-bbd4-41a6-b4ba-8b7d4499ab9a'] | image_url -%}
    {%- capture default_replo_style_image_a24a9123-bbd4-41a6-b4ba-8b7d4499ab9a -%}https://cdn.shopify.com/s/files/1/0047/6862/8836/files/11.png?v=1722444888{%- endcapture -%}
    {%- assign replo_style_image_a24a9123-bbd4-41a6-b4ba-8b7d4499ab9a = replo_style_image_a24a9123-bbd4-41a6-b4ba-8b7d4499ab9a | default: default_replo_style_image_a24a9123-bbd4-41a6-b4ba-8b7d4499ab9a -%}
    "replo_style_image_a24a9123-bbd4-41a6-b4ba-8b7d4499ab9a": {{ replo_style_image_a24a9123-bbd4-41a6-b4ba-8b7d4499ab9a | json }}, {%- assign replo_text_e991ab4e-8ec7-474f-a96e-1f1fa2b13176 = section.settings['replo_text_e991ab4e-8ec7-474f-a96e-1f1fa2b13176'] -%}
    {%- capture default_replo_text_e991ab4e-8ec7-474f-a96e-1f1fa2b13176 -%}<p>Purple Rain (New!)</p>{%- endcapture -%}
    {%- assign replo_text_e991ab4e-8ec7-474f-a96e-1f1fa2b13176 = replo_text_e991ab4e-8ec7-474f-a96e-1f1fa2b13176 | default: default_replo_text_e991ab4e-8ec7-474f-a96e-1f1fa2b13176 -%}
    "replo_text_e991ab4e-8ec7-474f-a96e-1f1fa2b13176": {{ replo_text_e991ab4e-8ec7-474f-a96e-1f1fa2b13176 | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}