{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_4c7baa66-3aea-408a-8631-543a913fdbb1 = section.settings['replo_text_4c7baa66-3aea-408a-8631-543a913fdbb1'] -%}
    {%- capture default_replo_text_4c7baa66-3aea-408a-8631-543a913fdbb1 -%}<p>4.8/5 rating - 95,000+ customers</p>{%- endcapture -%}
    {%- assign replo_text_4c7baa66-3aea-408a-8631-543a913fdbb1 = replo_text_4c7baa66-3aea-408a-8631-543a913fdbb1 | default: default_replo_text_4c7baa66-3aea-408a-8631-543a913fdbb1 -%}
    "replo_text_4c7baa66-3aea-408a-8631-543a913fdbb1": {{ replo_text_4c7baa66-3aea-408a-8631-543a913fdbb1 | json }}, {%- assign replo_text_8b1bead2-1f68-4c6f-a78a-b6b76bec2564 = section.settings['replo_text_8b1bead2-1f68-4c6f-a78a-b6b76bec2564'] -%}
    {%- capture default_replo_text_8b1bead2-1f68-4c6f-a78a-b6b76bec2564 -%}<p>4.8/5 rating - 95,000+ customers</p>{%- endcapture -%}
    {%- assign replo_text_8b1bead2-1f68-4c6f-a78a-b6b76bec2564 = replo_text_8b1bead2-1f68-4c6f-a78a-b6b76bec2564 | default: default_replo_text_8b1bead2-1f68-4c6f-a78a-b6b76bec2564 -%}
    "replo_text_8b1bead2-1f68-4c6f-a78a-b6b76bec2564": {{ replo_text_8b1bead2-1f68-4c6f-a78a-b6b76bec2564 | json }}, {%- assign replo_text_6bebfafc-17f5-487c-b928-ff780b21d63f = section.settings['replo_text_6bebfafc-17f5-487c-b928-ff780b21d63f'] -%}
    {%- capture default_replo_text_6bebfafc-17f5-487c-b928-ff780b21d63f -%}<p>Real reviews from comfy humans just like you.</p>{%- endcapture -%}
    {%- assign replo_text_6bebfafc-17f5-487c-b928-ff780b21d63f = replo_text_6bebfafc-17f5-487c-b928-ff780b21d63f | default: default_replo_text_6bebfafc-17f5-487c-b928-ff780b21d63f -%}
    "replo_text_6bebfafc-17f5-487c-b928-ff780b21d63f": {{ replo_text_6bebfafc-17f5-487c-b928-ff780b21d63f | json }}, {%- assign replo_text_150808a5-71ab-4c76-9068-ec42992c2084 = section.settings['replo_text_150808a5-71ab-4c76-9068-ec42992c2084'] -%}
    {%- capture default_replo_text_150808a5-71ab-4c76-9068-ec42992c2084 -%}<p><em>"I thought I knew comfort and then Swoveralls wooed me."</em> - Jess</p>{%- endcapture -%}
    {%- assign replo_text_150808a5-71ab-4c76-9068-ec42992c2084 = replo_text_150808a5-71ab-4c76-9068-ec42992c2084 | default: default_replo_text_150808a5-71ab-4c76-9068-ec42992c2084 -%}
    "replo_text_150808a5-71ab-4c76-9068-ec42992c2084": {{ replo_text_150808a5-71ab-4c76-9068-ec42992c2084 | json }}, {%- assign replo_url_6d4ea658-122d-4a75-bd77-1fa1b084957f = section.settings['replo_url_6d4ea658-122d-4a75-bd77-1fa1b084957f'] -%}
    {%- capture default_replo_url_6d4ea658-122d-4a75-bd77-1fa1b084957f -%}https://swoveralls.com/pages/reviews{%- endcapture -%}
    {%- assign replo_url_6d4ea658-122d-4a75-bd77-1fa1b084957f = replo_url_6d4ea658-122d-4a75-bd77-1fa1b084957f | default: default_replo_url_6d4ea658-122d-4a75-bd77-1fa1b084957f -%}
    "replo_url_6d4ea658-122d-4a75-bd77-1fa1b084957f": {{ replo_url_6d4ea658-122d-4a75-bd77-1fa1b084957f | json }}, {%- assign replo_text_1497e93c-fbf5-406e-b79b-d0e28d801cec = section.settings['replo_text_1497e93c-fbf5-406e-b79b-d0e28d801cec'] -%}
    {%- capture default_replo_text_1497e93c-fbf5-406e-b79b-d0e28d801cec -%}<p>read the reviews</p>{%- endcapture -%}
    {%- assign replo_text_1497e93c-fbf5-406e-b79b-d0e28d801cec = replo_text_1497e93c-fbf5-406e-b79b-d0e28d801cec | default: default_replo_text_1497e93c-fbf5-406e-b79b-d0e28d801cec -%}
    "replo_text_1497e93c-fbf5-406e-b79b-d0e28d801cec": {{ replo_text_1497e93c-fbf5-406e-b79b-d0e28d801cec | json }}, {%- assign replo_url_9777bd79-0e89-44e5-bed4-ccda52fade39 = section.settings['replo_url_9777bd79-0e89-44e5-bed4-ccda52fade39'] -%}
    {%- capture default_replo_url_9777bd79-0e89-44e5-bed4-ccda52fade39 -%}https://andytown-public.s3.us-west-1.amazonaws.com/templates/component-templates/Hydrant/rapid-hydration-mix-caffeine%3Fvariant%3D31392916963417{%- endcapture -%}
    {%- assign replo_url_9777bd79-0e89-44e5-bed4-ccda52fade39 = replo_url_9777bd79-0e89-44e5-bed4-ccda52fade39 | default: default_replo_url_9777bd79-0e89-44e5-bed4-ccda52fade39 -%}
    "replo_url_9777bd79-0e89-44e5-bed4-ccda52fade39": {{ replo_url_9777bd79-0e89-44e5-bed4-ccda52fade39 | json }}, {%- assign replo_style_image_99b6a04c-9b48-4db0-a98e-3c5989158427 = section.settings['replo_style_image_99b6a04c-9b48-4db0-a98e-3c5989158427'] | image_url -%}
    {%- capture default_replo_style_image_99b6a04c-9b48-4db0-a98e-3c5989158427 -%}https://cdn.shopify.com/s/files/1/0047/6862/8836/files/Screen_Shot_2024-07-31_at_1.20.43_PM.png?v=1722469540{%- endcapture -%}
    {%- assign replo_style_image_99b6a04c-9b48-4db0-a98e-3c5989158427 = replo_style_image_99b6a04c-9b48-4db0-a98e-3c5989158427 | default: default_replo_style_image_99b6a04c-9b48-4db0-a98e-3c5989158427 -%}
    "replo_style_image_99b6a04c-9b48-4db0-a98e-3c5989158427": {{ replo_style_image_99b6a04c-9b48-4db0-a98e-3c5989158427 | json }}, {%- assign replo_text_e1a07ace-bb75-4fd8-9758-4e1f0f81d1b0 = section.settings['replo_text_e1a07ace-bb75-4fd8-9758-4e1f0f81d1b0'] -%}
    {%- capture default_replo_text_e1a07ace-bb75-4fd8-9758-4e1f0f81d1b0 -%}<p>5/5 rating</p>{%- endcapture -%}
    {%- assign replo_text_e1a07ace-bb75-4fd8-9758-4e1f0f81d1b0 = replo_text_e1a07ace-bb75-4fd8-9758-4e1f0f81d1b0 | default: default_replo_text_e1a07ace-bb75-4fd8-9758-4e1f0f81d1b0 -%}
    "replo_text_e1a07ace-bb75-4fd8-9758-4e1f0f81d1b0": {{ replo_text_e1a07ace-bb75-4fd8-9758-4e1f0f81d1b0 | json }}, {%- assign replo_text_1539fca5-0272-451d-b84a-fd81cf27cfe5 = section.settings['replo_text_1539fca5-0272-451d-b84a-fd81cf27cfe5'] -%}
    {%- capture default_replo_text_1539fca5-0272-451d-b84a-fd81cf27cfe5 -%}<p>"Love these, they're very comfy and stylish! I love wearing these as part of a relaxed hanging with friends outfit or for lounging at home.”</p>{%- endcapture -%}
    {%- assign replo_text_1539fca5-0272-451d-b84a-fd81cf27cfe5 = replo_text_1539fca5-0272-451d-b84a-fd81cf27cfe5 | default: default_replo_text_1539fca5-0272-451d-b84a-fd81cf27cfe5 -%}
    "replo_text_1539fca5-0272-451d-b84a-fd81cf27cfe5": {{ replo_text_1539fca5-0272-451d-b84a-fd81cf27cfe5 | json }}, {%- assign replo_text_7a4b070b-059d-4fc2-9555-642fc25e399d = section.settings['replo_text_7a4b070b-059d-4fc2-9555-642fc25e399d'] -%}
    {%- capture default_replo_text_7a4b070b-059d-4fc2-9555-642fc25e399d -%}<p>ALEK</p>{%- endcapture -%}
    {%- assign replo_text_7a4b070b-059d-4fc2-9555-642fc25e399d = replo_text_7a4b070b-059d-4fc2-9555-642fc25e399d | default: default_replo_text_7a4b070b-059d-4fc2-9555-642fc25e399d -%}
    "replo_text_7a4b070b-059d-4fc2-9555-642fc25e399d": {{ replo_text_7a4b070b-059d-4fc2-9555-642fc25e399d | json }}, {%- assign replo_style_image_bef04475-8e98-4096-a0da-e1aaa3331597 = section.settings['replo_style_image_bef04475-8e98-4096-a0da-e1aaa3331597'] | image_url -%}
    {%- capture default_replo_style_image_bef04475-8e98-4096-a0da-e1aaa3331597 -%}https://cdn.shopify.com/s/files/1/0047/6862/8836/files/12_992f1dcd-42b4-4278-9628-3d8cfa78e255.png?v=1722445173{%- endcapture -%}
    {%- assign replo_style_image_bef04475-8e98-4096-a0da-e1aaa3331597 = replo_style_image_bef04475-8e98-4096-a0da-e1aaa3331597 | default: default_replo_style_image_bef04475-8e98-4096-a0da-e1aaa3331597 -%}
    "replo_style_image_bef04475-8e98-4096-a0da-e1aaa3331597": {{ replo_style_image_bef04475-8e98-4096-a0da-e1aaa3331597 | json }}, {%- assign replo_text_35e4ffec-de11-4390-8e70-e7e100f3e27f = section.settings['replo_text_35e4ffec-de11-4390-8e70-e7e100f3e27f'] -%}
    {%- capture default_replo_text_35e4ffec-de11-4390-8e70-e7e100f3e27f -%}<p>Midnight Black</p>{%- endcapture -%}
    {%- assign replo_text_35e4ffec-de11-4390-8e70-e7e100f3e27f = replo_text_35e4ffec-de11-4390-8e70-e7e100f3e27f | default: default_replo_text_35e4ffec-de11-4390-8e70-e7e100f3e27f -%}
    "replo_text_35e4ffec-de11-4390-8e70-e7e100f3e27f": {{ replo_text_35e4ffec-de11-4390-8e70-e7e100f3e27f | json }}, {%- assign replo_url_942bc7e4-748f-4c87-9aa8-415dd35d573b = section.settings['replo_url_942bc7e4-748f-4c87-9aa8-415dd35d573b'] -%}
    {%- capture default_replo_url_942bc7e4-748f-4c87-9aa8-415dd35d573b -%}https://andytown-public.s3.us-west-1.amazonaws.com/templates/component-templates/Hydrant/rapid-hydration-mix-caffeine%3Fvariant%3D31392916963417{%- endcapture -%}
    {%- assign replo_url_942bc7e4-748f-4c87-9aa8-415dd35d573b = replo_url_942bc7e4-748f-4c87-9aa8-415dd35d573b | default: default_replo_url_942bc7e4-748f-4c87-9aa8-415dd35d573b -%}
    "replo_url_942bc7e4-748f-4c87-9aa8-415dd35d573b": {{ replo_url_942bc7e4-748f-4c87-9aa8-415dd35d573b | json }}, {%- assign replo_style_image_0ea562a4-74d1-42ab-977b-e65f9bb5b3ab = section.settings['replo_style_image_0ea562a4-74d1-42ab-977b-e65f9bb5b3ab'] | image_url -%}
    {%- capture default_replo_style_image_0ea562a4-74d1-42ab-977b-e65f9bb5b3ab -%}https://cdn.shopify.com/s/files/1/0047/6862/8836/files/IMG_5943.jpg?v=1722445148{%- endcapture -%}
    {%- assign replo_style_image_0ea562a4-74d1-42ab-977b-e65f9bb5b3ab = replo_style_image_0ea562a4-74d1-42ab-977b-e65f9bb5b3ab | default: default_replo_style_image_0ea562a4-74d1-42ab-977b-e65f9bb5b3ab -%}
    "replo_style_image_0ea562a4-74d1-42ab-977b-e65f9bb5b3ab": {{ replo_style_image_0ea562a4-74d1-42ab-977b-e65f9bb5b3ab | json }}, {%- assign replo_text_2abf4ec8-67a5-4753-834e-70087931f458 = section.settings['replo_text_2abf4ec8-67a5-4753-834e-70087931f458'] -%}
    {%- capture default_replo_text_2abf4ec8-67a5-4753-834e-70087931f458 -%}<p>5/5 rating</p>{%- endcapture -%}
    {%- assign replo_text_2abf4ec8-67a5-4753-834e-70087931f458 = replo_text_2abf4ec8-67a5-4753-834e-70087931f458 | default: default_replo_text_2abf4ec8-67a5-4753-834e-70087931f458 -%}
    "replo_text_2abf4ec8-67a5-4753-834e-70087931f458": {{ replo_text_2abf4ec8-67a5-4753-834e-70087931f458 | json }}, {%- assign replo_text_9e6b6bf9-6e04-4314-b1f9-72cb24e84f6c = section.settings['replo_text_9e6b6bf9-6e04-4314-b1f9-72cb24e84f6c'] -%}
    {%- capture default_replo_text_9e6b6bf9-6e04-4314-b1f9-72cb24e84f6c -%}<p>Nicole</p>{%- endcapture -%}
    {%- assign replo_text_9e6b6bf9-6e04-4314-b1f9-72cb24e84f6c = replo_text_9e6b6bf9-6e04-4314-b1f9-72cb24e84f6c | default: default_replo_text_9e6b6bf9-6e04-4314-b1f9-72cb24e84f6c -%}
    "replo_text_9e6b6bf9-6e04-4314-b1f9-72cb24e84f6c": {{ replo_text_9e6b6bf9-6e04-4314-b1f9-72cb24e84f6c | json }}, {%- assign replo_style_image_28037cfb-6180-4ce6-89fa-9a55e4421f04 = section.settings['replo_style_image_28037cfb-6180-4ce6-89fa-9a55e4421f04'] | image_url -%}
    {%- capture default_replo_style_image_28037cfb-6180-4ce6-89fa-9a55e4421f04 -%}https://cdn.shopify.com/s/files/1/0047/6862/8836/files/12.png?v=1722445160{%- endcapture -%}
    {%- assign replo_style_image_28037cfb-6180-4ce6-89fa-9a55e4421f04 = replo_style_image_28037cfb-6180-4ce6-89fa-9a55e4421f04 | default: default_replo_style_image_28037cfb-6180-4ce6-89fa-9a55e4421f04 -%}
    "replo_style_image_28037cfb-6180-4ce6-89fa-9a55e4421f04": {{ replo_style_image_28037cfb-6180-4ce6-89fa-9a55e4421f04 | json }}, {%- assign replo_text_2703eece-6581-490c-ab8c-40322d0dfbd4 = section.settings['replo_text_2703eece-6581-490c-ab8c-40322d0dfbd4'] -%}
    {%- capture default_replo_text_2703eece-6581-490c-ab8c-40322d0dfbd4 -%}<p>DIjon (New!)</p>{%- endcapture -%}
    {%- assign replo_text_2703eece-6581-490c-ab8c-40322d0dfbd4 = replo_text_2703eece-6581-490c-ab8c-40322d0dfbd4 | default: default_replo_text_2703eece-6581-490c-ab8c-40322d0dfbd4 -%}
    "replo_text_2703eece-6581-490c-ab8c-40322d0dfbd4": {{ replo_text_2703eece-6581-490c-ab8c-40322d0dfbd4 | json }}, {%- assign replo_url_73a32bf0-f746-42b9-8b34-f02c7a000649 = section.settings['replo_url_73a32bf0-f746-42b9-8b34-f02c7a000649'] -%}
    {%- capture default_replo_url_73a32bf0-f746-42b9-8b34-f02c7a000649 -%}https://andytown-public.s3.us-west-1.amazonaws.com/templates/component-templates/Hydrant/rapid-hydration-mix-caffeine%3Fvariant%3D31392916963417{%- endcapture -%}
    {%- assign replo_url_73a32bf0-f746-42b9-8b34-f02c7a000649 = replo_url_73a32bf0-f746-42b9-8b34-f02c7a000649 | default: default_replo_url_73a32bf0-f746-42b9-8b34-f02c7a000649 -%}
    "replo_url_73a32bf0-f746-42b9-8b34-f02c7a000649": {{ replo_url_73a32bf0-f746-42b9-8b34-f02c7a000649 | json }}, {%- assign replo_style_image_f2ecbf4c-de03-4b37-8167-42566bed1684 = section.settings['replo_style_image_f2ecbf4c-de03-4b37-8167-42566bed1684'] | image_url -%}
    {%- capture default_replo_style_image_f2ecbf4c-de03-4b37-8167-42566bed1684 -%}https://cdn.shopify.com/s/files/1/0047/6862/8836/files/IMG_6330.jpg?v=1722469512{%- endcapture -%}
    {%- assign replo_style_image_f2ecbf4c-de03-4b37-8167-42566bed1684 = replo_style_image_f2ecbf4c-de03-4b37-8167-42566bed1684 | default: default_replo_style_image_f2ecbf4c-de03-4b37-8167-42566bed1684 -%}
    "replo_style_image_f2ecbf4c-de03-4b37-8167-42566bed1684": {{ replo_style_image_f2ecbf4c-de03-4b37-8167-42566bed1684 | json }}, {%- assign replo_text_fb97e778-8d4a-4a29-93b5-26322118a8b0 = section.settings['replo_text_fb97e778-8d4a-4a29-93b5-26322118a8b0'] -%}
    {%- capture default_replo_text_fb97e778-8d4a-4a29-93b5-26322118a8b0 -%}<p>5/5 rating</p>{%- endcapture -%}
    {%- assign replo_text_fb97e778-8d4a-4a29-93b5-26322118a8b0 = replo_text_fb97e778-8d4a-4a29-93b5-26322118a8b0 | default: default_replo_text_fb97e778-8d4a-4a29-93b5-26322118a8b0 -%}
    "replo_text_fb97e778-8d4a-4a29-93b5-26322118a8b0": {{ replo_text_fb97e778-8d4a-4a29-93b5-26322118a8b0 | json }}, {%- assign replo_text_83c832e8-cbee-4d8f-9e49-fe9176af5201 = section.settings['replo_text_83c832e8-cbee-4d8f-9e49-fe9176af5201'] -%}
    {%- capture default_replo_text_83c832e8-cbee-4d8f-9e49-fe9176af5201 -%}<p>KYLE</p>{%- endcapture -%}
    {%- assign replo_text_83c832e8-cbee-4d8f-9e49-fe9176af5201 = replo_text_83c832e8-cbee-4d8f-9e49-fe9176af5201 | default: default_replo_text_83c832e8-cbee-4d8f-9e49-fe9176af5201 -%}
    "replo_text_83c832e8-cbee-4d8f-9e49-fe9176af5201": {{ replo_text_83c832e8-cbee-4d8f-9e49-fe9176af5201 | json }}, {%- assign replo_style_image_770993a0-8559-472f-8ee8-ba0fb6a97f0c = section.settings['replo_style_image_770993a0-8559-472f-8ee8-ba0fb6a97f0c'] | image_url -%}
    {%- capture default_replo_style_image_770993a0-8559-472f-8ee8-ba0fb6a97f0c -%}https://cdn.shopify.com/s/files/1/0047/6862/8836/files/11.png?v=1722444888{%- endcapture -%}
    {%- assign replo_style_image_770993a0-8559-472f-8ee8-ba0fb6a97f0c = replo_style_image_770993a0-8559-472f-8ee8-ba0fb6a97f0c | default: default_replo_style_image_770993a0-8559-472f-8ee8-ba0fb6a97f0c -%}
    "replo_style_image_770993a0-8559-472f-8ee8-ba0fb6a97f0c": {{ replo_style_image_770993a0-8559-472f-8ee8-ba0fb6a97f0c | json }}, {%- assign replo_text_cd6a7916-c268-4fac-9b4a-38cd4993770f = section.settings['replo_text_cd6a7916-c268-4fac-9b4a-38cd4993770f'] -%}
    {%- capture default_replo_text_cd6a7916-c268-4fac-9b4a-38cd4993770f -%}<p>Purple Rain (New!)</p>{%- endcapture -%}
    {%- assign replo_text_cd6a7916-c268-4fac-9b4a-38cd4993770f = replo_text_cd6a7916-c268-4fac-9b4a-38cd4993770f | default: default_replo_text_cd6a7916-c268-4fac-9b4a-38cd4993770f -%}
    "replo_text_cd6a7916-c268-4fac-9b4a-38cd4993770f": {{ replo_text_cd6a7916-c268-4fac-9b4a-38cd4993770f | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}