{{ 'hero-banner.css' | asset_url | stylesheet_tag }}

{% assign id = section.id %}
{% assign title = section.settings.title %}
{% assign text = section.settings.text %}
{% assign text_position = section.settings.text_position %}
{% assign text_align = section.settings.text_align %}
{% assign button_label = section.settings.button_label %}
{% assign button_link = section.settings.button_link %}

<style>
  {% if section.settings.image_mobile != blank %}
  @media screen and (max-width: 990px) {
    .section--{{ section.id }}.video.hero-image__picture  {
      background: url('{{ section.settings.image_mobile | img_url: '750x' }}');
      background-size: cover;
      background-position: 50%;
    }
  }
  {% endif %}

  .section--{{ section.id }} .hero-image__overlay {
    background: linear-gradient( 180deg, rgba(51, 51, 51, 0) 0%, {{section.settings.overlay_color}} 100%);;
    opacity: .{{section.settings.overlay_opacity}};
  }
  .section--{{ section.id }} .hero-image__title {
    color: {{section.settings.color_title}};
  }
  .section--{{ section.id }}.video.hero-image__picture  {
    background: url('{{ section.settings.image | img_url: '2000x' }}');
    background-size: cover;
  }
  .section--{{ section.id }} .hero-image__description {
    color: {{section.settings.color_text}};
  }
  .section--{{ section.id }} .hero-image__button {
    background-color: {{section.settings.background_button}};
    color: {{section.settings.color_button_text}};
  }
  .section--{{ section.id }} .hero-image__button:hover,
  .section--{{ section.id }} .hero-image__button:focus,
  .section--{{ section.id }} .hero-image__button:active {
    color: {{section.settings.color_button_text_hover}};
    background-color: {{section.settings.background_button_hover}};
    opacity: {{section.settings.overlay_button}};
  }
</style>

<section  class="hero-image__picture  {{section.settings.image_or_video}} section--{{ section.id }}" >

  {% if section.settings.image_mobile != blank %}
    {% assign class_img = 'hero-image__image hero-image__image--desktop'%}
  {% else%}
    {% assign class_img = 'hero-image__image '%}
  {% endif %}
  
  {% if section.settings.video != blank %}
    {% comment %} Load YouTube API only when video hero is used {% endcomment %}
    <script>
      if (!document.getElementById('youtube-iframe-api')) {
        var tag = document.createElement('script');
        tag.id = 'youtube-iframe-api';
        tag.src = 'https://www.youtube.com/iframe_api';
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      }
    </script>
    <div style="background-image: url('{{ section.settings.image | image_url: width: 2000 }}'); background-position: center; background-size: cover;" class="hero__video">
      <iframe
         id="ytPlayer-{{ section.id }}"
         width="2400"
         height="1125"
         style="opacity: 0;"
         src="https://www.youtube.com/embed/{{ section.settings.video.id }}?controls=0&mute=1&modestbranding=1&loop=1&playlist={{ section.settings.video.id }}&origin={{ shop.secure_url }}&enablejsapi=1"
      ></iframe>
      <script type="text/javascript">
         let player;
         let iframe;
         function onYouTubeIframeAPIReady() {
            iframe = document.getElementById('ytPlayer-{{ section.id }}');
            player = new YT.Player('ytPlayer-{{ section.id }}', {
               events: {
                  'onReady': onPlayerReady,
                  'onStateChange': onPlayerStateChange
                }
            });
         }

         function onPlayerStateChange({ data }) {
            if (data === 1) {
               iframe.style.opacity = null;
            }
         }

         function onPlayerReady(event) {
            player.playVideo();
         }
      </script>
    </div>
  {% else %}
    <div class="hero-banner__image--image">
      {% include 'image', image_src: section.settings.image, class_img: class_img %}
    </div>
      {% if section.settings.image_mobile != blank %}
        {% assign class_img = 'hero-image__image hero-image__image--mobile'%}
        <div class="hero-banner__image--image">
          {% include 'image', image_src: section.settings.image_mobile, class_img: class_img %}
        </div>
      {% endif %}
    
    <div class="hero-image__overlay"></div>
  {% endif %}
  <div class="hero-image__content hero-image__mobile-align caption-content align-{{ text_align }} position-{{text_position}}">
    {% if title != blank %}
      <h1 class="hero-image__title{% if text != blank %} hero-image__title--text{% endif %}">
        {{ title }}
      </h1>
    {% endif %}
    {% if text != blank %}
      <p class="hero__text">{{ text }}</p>
    {% endif %}
    {% if button_label != blank %}
      <a href="{{ button_link }}" class="button button--quaternary hero-image__button">
        {{ button_label }}
      </a>
    {% endif %}
  </div>
  
  {% if section.settings.hero_clickable and button_link != blank %}
    <a class="hero__link" href="{{ button_link }}" aria-label="Hero section link"></a>
  {% endif %}
</section>

{% schema %}
{
    "name":"Hero Banner",
    "class":"video-section under-menu",
    "settings":[
       {
          "type":"header",
          "content":"Video"
       },
       {
          "type": "video_url",
          "id": "video",
          "label": "Video",
          "accept": [
             "youtube"
          ]
       },
       {
          "type":"header",
          "content":"Images"
       },
       {
          "type":"image_picker",
          "id":"image",
          "label":"Image desktop",
          "info":"1600 x 900px recommended"
       },
       {
          "type":"image_picker",
          "id":"image_mobile",
          "label":"Image mobile"
       },
       {
          "type":"text",
          "id":"title",
          "label":"Heading"
       },
       {
          "type":"textarea",
          "id":"text",
          "label":"Text"
       },
       {
          "type":"text",
          "id":"button_label",
          "label":"Button label"
       },
       {
          "type":"url",
          "id":"button_link",
          "label":"Button link"
       },
       {
          "type":"checkbox",
          "id":"hero_clickable",
          "label":"Enable banner link",
          "info": "This makes the entire banner clickable"
       },
       {
          "type":"select",
          "id":"text_position",
          "label":"Text position",
          "options":[
             {
                "value":"left",
                "label":"Left"
             },
             {
                "value":"center",
                "label":"Center"
             },
             {
                "value":"right",
                "label":"Right"
             }
          ],
          "default":"center"
       },
       {
          "type":"select",
          "id":"text_align",
          "label":"Text alignment",
          "options":[
             {
                "value":"left",
                "label":"Left"
             },
             {
                "value":"center",
                "label":"Center"
             },
             {
                "value":"right",
                "label":"Right"
             }
          ],
          "default":"center"
       },
       {
          "type":"color",
          "id":"overlay_color",
          "label":{
             "en":"Overlay Color"
          },
          "default":"#000000"
       },
       {
          "type":"range",
          "id":"overlay_opacity",
          "label":{
             "en":"Overlay opacity"
          },
          "min":0,
          "max":100,
          "step":1,
          "unit":{
             "en":"%"
          },
          "default":25
       },
       {
          "type":"color",
          "id":"color_title",
          "label":{
             "en":"Title color"
          },
          "default":"#ffffff"
       },
       {
          "type":"paragraph",
          "content":"Colors for button"
       },
       {
          "type":"color",
          "id":"background_button",
          "label":{
             "en":"Background button"
          },
          "default":"#000000"
       },
       {
          "type":"color",
          "id":"color_button_text",
          "label":{
             "en":"Color button text"
          },
          "default":"#000000"
       },
       {
          "type":"color",
          "id":"color_button_border",
          "label":{
             "en":"Color border button"
          },
          "default":"#ffffff"
       },
       {
          "type":"paragraph",
          "content":"Colors for hover button"
       },
       {
          "type":"color",
          "id":"background_button_hover",
          "label":{
             "en":"Background button hover"
          },
          "default":"transparent"
       },
       {
          "type":"color",
          "id":"color_button_text_hover",
          "label":{
             "en":"Color button text hover"
          },
          "default":"#ffffff"
       },
       {
          "type":"range",
          "id":"overlay_button",
          "label":{
             "en":"Button Hover Opacity"
          },
          "min":0,
          "max":100,
          "step":1,
          "unit":{
             "en":"%"
          },
          "default":25
       }
    ],
    "presets":[
       {
          "name":"Hero Banner",
          "category":"Home sections"
       }
    ]
 }

{% endschema %}