
<style>
#table-{{ section.id }}{
  width: 100%;
  border-collapse: collapse;
}

#table-{{ section.id }} tr td{
  padding: 24px;
  background-color: #bcddd0;
  border: 1px solid black;
}
#table-{{ section.id }} tr th{
  padding: 24px;
  background-color: #bcddd0;
  border: 1px solid black;
}
#table-{{ section.id }} tr th div{
  width: 210px;
  height: 76px;
  font-size: 18px;
  text-align: center;
  display:flex;
  align-items:center;
  justify-content: center;
  font-weight: 400;
  line-height: 1;
}
#table-{{ section.id }} tr td div{
  width: 229px;
  height: 76px;
  font-size: 18px;
  text-align: center;
  display:flex;
  align-items:center;
  justify-content: center;
  font-weight: 400;
  line-height: 1;
}

#first-comparison-header-{{ section.id }}{
  height: 169px !important;
}

#last-comparison-header-{{ section.id }}{
  height: 169px !important;;
}

@media (max-width: 768px) {
  #first-comparison-header-{{ section.id }}{
    height: 159px !important;
  }
  #last-comparison-header-{{ section.id }}{
    height: 159px !important;
  }
}
</style>
<section class="product-custom-section">
  <div style="overflow:auto;padding:40px">
    <h1>How Swoveralls Stack up</h1>
    <table id="table-{{ section.id }}">
      <thead>
        <tr>
          <td style="font-size: 30px; font-weight: 500;text-align:center;border: 0;background-color: initial;">&nbsp;</td>
          <td style="padding:0px;border:0;background-color:initial">
            <div id="first-comparison-header-{{ section.id }}" style="
              width: 100%;
              font-size: 30px;
              font-weight: 500;
              text-align:center;
              padding: 0px 24px;
              background-color: #FCFAF1;
              border-top-left-radius: 20px;
              border: 1px solid black;
              border-bottom: 0;
              border-right: 0;
              ">
              <div style="margin-left: auto;margin-right: auto;">
                <img src="https://cdn.shopify.com/s/files/1/0047/6862/8836/files/Swove_FTW_NAVY.png?v=1705430405" style="width: 100%;;height: 51px;object-fit: cover;" alt="logo">
              </div>
            </div>
          </td>
          <td style="font-size: 30px; font-weight: 500;text-align:center">Denim Overalls</td>
          <td style="font-size: 30px; font-weight: 500;text-align:center">Sweatpants</td>
          <td style="padding:0px;border:0;background-color: initial">
            <div id="last-comparison-header-{{ section.id }}" style="
              width: 100%;
              font-size: 30px;
              font-weight: 500;
              text-align:center;
              border-top-right-radius: 20px;
              background-color: #bcddd0;
              border: 1px solid black;
              border-bottom: 0;
              border-left: 0;
              ">Joggers</div>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th style="padding:0px;border:0;background-color: initial">
            <div  style="
              width: 100%;
              height: 126.5px;
              font-weight: 500;
              text-align:center;
              border-top-left-radius: 20px;
              background-color: #bcddd0;
              border: 1px solid black;
              border-bottom: 0;
              border-right: 0;
              ">
              <div style="font-size:25px;text-align: left;justify-content: left;">
                <span>Waistband-Free?</span>
              </div>
            </div>
          </th>
          <td style="background-color: #FCFAF1">
            <div style="font-size:24px;">
              <span>Yes</span>
            </div>
          </td>
          <td>
            <div style="font-size:24px">
              <span>Yes</span>
            </div>
          </td>
          <td>
            <div style="font-size:24px">
              <span>No</span>
            </div>
          </td>
          <td>
            <div style="font-size:24px">
              <span>No</span>
            </div>
          </td>
        </tr>
        <tr>
          <th>
            <div style="font-size:25px;text-align: left;justify-content: left;">
              <span>Fabric Comfort</span>
            </div>
          </th>
          <td style="background-color: #FCFAF1">
            <div>
              <span>Cotton/poly blend with touch of spandex for perfect stretch</span>
            </div>
          </td>
          <td>
            <div>
              <span>Scratchy, stiff, rigid denim.</span>
            </div>
          </td>
          <td>
            <div>
              <span>Soft at first, but lacks the stretch, and breathability to keep up with real life.</span>
            </div>
          </td>
          <td>
            <div>
              <span>Sleek...sporty...but let’s be honest, no one's cuddling up in nylon.</span>
            </div>
          </td>
        </tr>
        <tr>
          <th>
            <div style="font-size:25px;text-align: left;justify-content: left;">
              <span>Pockets?</span>
            </div>
          </th>
          <td style="background-color: #FCFAF1">
            <div style="font-size:18px;">
              <span>Six (6), including an inside secret zippered front pocket</span>
            </div>
          </td>
          <td>
            <div style="font-size:24px">
              <span>3-5</span>
            </div>
          </td>
          <td>
            <div style="font-size:24px">
              <span>2</span>
            </div>
          </td>
          <td>
            <div style="font-size:24px">
              <span>2-3</span>
            </div>
          </td>
        </tr>
        <tr>
          <th>
            <div style="font-size:25px;text-align: left;justify-content: left;">
              <span>Size-Inclusive Fit?</span>
            </div>
          </th>
          <td style="background-color: #FCFAF1">
            <div>
              <span>Gender-free sizing, extended range (XXS-4XL), roomy adjustable fit</span>
            </div>
          </td>
          <td>
            <div>
              <span>Often split by gender with limited plus-size availability</span>
            </div>
          </td>
          <td>
            <div>
              <span>Limited size range. Inconsistent fits. Waistband roulette.</span>
            </div>
          </td>
          <td>
            <div>
              <span>Usually athletic cut with slim taper not ideal for all body types</span>
            </div>
          </td>
        </tr>
        <tr>
          <th style="padding:0px;border:0;background-color: initial">
            <div style="
              width: 100%;
              height: 126.5px;
              font-weight: 500;
              text-align:center;
              border-bottom-left-radius: 20px;
              background-color: #bcddd0;
              border: 1px solid black;
              border-top: 0;
              border-right: 0;
              ">
              <div style="font-size:25px;text-align: left;justify-content: left;">
                <span>Compliments From Random Strangers?</span>
              </div>
            </div>
          </th>
          <td style="background-color: #FCFAF1">
            <div>
              <span>Almost every time.</span>
            </div>
          </td>
          <td>
            <div>
              <span>Only if you’re holding a paint roller</span>
            </div>
          </td>
          <td>
            <div>
              <span>C'mon, seriously?</span>
            </div>
          </td>
          <td style="padding:0px;border:0;background-color: initial">
            <div style="
              width: 100%;
              height: 126.5px;
              font-weight: 500;
              text-align:center;
              border-bottom-right-radius: 20px;
              background-color: #bcddd0;
              border: 1px solid black;
              border-top: 0;
              border-left: 0;
              ">
              <span>Maybe a head nod from a guy named Chad at the gym, but that’s about it.</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

{% schema %}
{
  "name": "Product Comparison",
  "settings": [
  ],
  "presets": [
    {
      "name": "Product Comparison"
    }
  ]
}
{% endschema %}